* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    word-break: break-word;
}

body {
    font-size: 14px;
    line-height: 1.5em;
    color: black;
    justify-content: center;
    align-items: center;
    background-color: #fafffb;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

header {
    color:#111;
    position: sticky;
    top: 0;
    z-index: 100;
    min-height: 5em;
    height: 100%;
    display: flex;
    /* Flex direction row innebär att alla objekt i containern header
    radar upp sig i horisontellt */
    flex-direction: row;
    /* Täcker skärmen från sida till sida */
    width: 100%;
    /* När man använder align items: center i flexbox så centreras
    objekten vertikalt */
    align-items: center;
    background-color: white;
    
}

header .container {
    padding: 0 20px;
}

#menu-toggle, #burger {
    display: none;
}

header img {
    height: 100%;
    max-height: 20px;
    min-height: 10px;

}

.container {
    width:100%;
    max-width:1200px;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

nav a {
    color:inherit;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 1.2em 1em;
    position:relative;
}


nav a:hover {
    color: #13486b;
    
}
nav a:hover::before {
    width:100%;
}

nav a::before {
    transition:.3s;
    content:"";
    width:0;
    height:2px;
    background:#13486b;
    position:absolute;
    bottom:8px;
    left:50%;
    transform:translateX(-50%);
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}


.hero-image {
    background-image: url('img-medlem/gallery1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh; 
    width: 100%; 
    display: flex;
    flex-direction: column; /* Ändra till column för att stapla elementen */
    justify-content: center; /* Centrera vertikalt */
    align-items: center; /* Centrera horisontellt */
    position: relative;
}

.hero-image h1 {
    color:white ;
    font-size: 3rem;
    margin-top: 7rem; /* Justera avståndet ovanför rubriken */
    margin-bottom: 3rem; /* Justera avståndet */
}

.hero-image button {
    border: none;
    outline: none;
    padding: 2rem 4rem; 
    font-size: 1rem;
    cursor: pointer;
    background-color: #13486b;
    color: white;
    border-radius: 0.625rem; 
    transition: background 0.3s ease;
    margin-top: 1rem; /* Lägg till avstånd ovanför knappen */
}

.hero-image button:hover {
    background-color: #090a0a;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%; /* Fyller hela bredden */
    max-width: 1700px; /* Sätter en max-bredd för större skärmar */
    padding: 2rem; /* Justera padding */
    row-gap: 2rem; /* Justera avståndet mellan rader */
    margin: 0 auto; /* Centrerar main inom dess förälder */
} 

.part1 {
    display: flex;
    flex-direction: column; /* Ändra till column för att stapla bilderna vertikalt */
    align-items: center; /* Centrera bilderna horisontellt om så önskas */
    gap: 2rem; /* Justera avståndet mellan bilderna */
}
.medal{
    border: 1px solid #ddd;
    padding: 2rem; /* 10vh */
    text-align: center;
}

.img img {
    max-width: 100%; /* Gör bilden responsiv */
    height: 20rem;
}

.text {
    background-color: #f4f4f4;
    border-radius: 0.625rem; /* 8vh */
    padding: 2rem; /* 20vh */
    margin: 2rem 0; /* 20vh 0 */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.text h1, .text h2, .text h3 {
    font-weight: bold;
    margin-bottom: 1.25rem; /* 15vh */
}

.text h1 {
    color: #b29900;
    font-size: 2rem; 
}

.text h2 {
    color: #C0C0C0;
    font-size: 1.75rem;
}

.text h3 {
    color: #Cd7f32;
    font-size: 1.5rem; 
}

.text p {
    color: #333;
    font-size: 1rem; 
    line-height: 1.6;
    margin-bottom: 1rem; /* 15vh */
}

.text p::before {
    content: "✓ ";
    color: #b29900;
    font-weight: bold;
}

.medlem {
    max-width: 600px; 
    margin: 0 auto;
    padding: 2rem; /* 20vh */
    background: white;
    border-radius: 0.625rem; /* 10vh */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

/* Rubrik */
h1 {
    text-align: center;
    color: white;
}

/* Grundläggande stil för formulär */
form {
    display: flex;
    flex-direction: column;
}

/* Fältset-styling */
fieldset {
    border: 1px solid #ddd;
    padding: 1rem; /* 15vh */
    margin-bottom: 1rem; /* 15vh */
}

/* Legend-styling */
legend {
    font-weight: bold;
    color: #444;
}

/* Formulärfälten */
label {
    display: block;
    margin: 0.625rem 0 0.3125rem; /* 10vh 0 5vh */
    font-weight: 600;
}

input, textarea {
    width: calc(100% - 20px);
    padding: 0.625rem; /* 10vh */
    border: 1px solid #ccc;
    border-radius: 0.3125rem; /* 5vh */
    margin-bottom: 1rem; /* 15vh */
    font-size: 1rem; /* Justera storlek */
}

/* Knappar */
button {
    padding: 1rem; /* 15vh */
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px; /* Rundade hörn */
    transition: background-color 0.3s; /* Smidig övergång */
    cursor: pointer;
    font-size: 1rem; /* Justera storlek */
 
}

button:hover {
    background: #555;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem; /* Justera storlek */
}

.custom-checkbox input {
    display: none;
}

.checkmark {
    width: 1.25rem; /* 20vh */
    height: 1.25rem; /* 20vh */
    border: 2px solid #13486b;
    border-radius: 0.25rem; /* 4vh */
    margin-right: 0.625rem; /* 10vh */
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox input:checked + .checkmark {
    background-color: #13486b;
    border-color: #13486b;
}

.checkmark::after {
    content: "";
    display: none;
    position: absolute;
    left: 0.3125rem; /* 5vh */
    top: 0.125rem; /* 2vh */
    width: 0.625rem; /* 10vh */
    height: 0.625rem; /* 10vh */
    background-color: white;
    border-radius: 0.125rem; /* 2vh */
}

.custom-checkbox input:checked + .checkmark::after {
    display: block;
}
footer {
    flex: 4;
    background-color: #244034;
    width: 100%;
    left: 0;
    bottom: 0;
    position:static;
    justify-content: center;
    color: #fff;
    text-shadow: 1px 1px 3px black;
}

.content {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 1.5rem;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.shortcuts, .newsform, .details, .social-media {
    max-width: 200px;
    width: 100%;
}

footer p, address {
    margin: 0, 0.3rem;
    
}

footer a {
    text-decoration: none;
    color: #fff;
}

.shortcuts a:hover {
    border-bottom: 1px solid #e6ffe8;
}

footer h4 {
    margin-bottom: 8px;
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 200px;
    max-width: 200px;
    height: 44px;

}

/* Skugga när man hovrar */
.social-media img:hover {
    height: 40px;
    transition: 0.4s;
    
}

.newsform input[type=email] {
    width: 90%;
    margin: 5px 0;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #5e5e5e;
}

.newsform input[type=submit] {
    display: inline-block;
    font-family: 'Poppins', Times, serif;
    background-color: #34775a;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
    margin: 0.3em 0;
    padding: 0.6em 2em;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.newsform input[type=submit]:hover {
    background-color: #34614d;
}


@media only screen and (max-width: 980px) {
    body {
        font-size: 12px;
    }

    footer {
        padding-bottom: 1em;
    }
}

@media (max-width: 768px) {
    .hero-image {
        height: 50vh; /* Tidigare ändring */
    }

    .hero-image h1 {
        font-size: 2.5rem; /* Tidigare ändring */
        margin-top: 5rem;
    }

    .hero-image button {
        padding: 1rem 2rem;
    }

    main {
        padding: 1rem;
    }

    .part1 {
        flex-direction: column;
        gap: 2rem; /* Tidigare ändring */
    }

    .medal {
        padding: 1rem;
    }

    .text h1 {
        font-size: 1.75rem;
    }

    .text h2, .text h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .hero-image h1 {
        font-size: 2rem; /* Ändra storleken tidigare */
    }

    .hero-image button {
        padding: 1rem;
    }

    .part1 {
        flex-direction: column;
        gap: 1.5rem; /* Mindre gap för mindre skärmar */
    }

    .medal {
        padding: 1.5rem;
    }
}

@media (min-width: 769px) {
    .hero-image {
        height: 60vh; /* Standard för större skärmar */
    }

    .part1 {
        display: flex;
        justify-content: center;
        gap: 5rem; /* Justera avståndet */
    }

    .medal {
        padding: 2rem; /* Större padding på större skärmar */
    }
}
