.hero-image-member {
    background-image: url('img-medlem/gallery1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh; 
    width: 100%; 
    display: flex;
    flex-direction: column; /* Ändra till column för att stapla elementen */
    justify-content: center; /* Centrera vertikalt */
    align-items: center; /* Centrera horisontellt */
    position: relative;
}

.hero-image-member h1 {
    color:white ;
    font-size: 3rem;
    margin-top: 7rem; /* Justera avståndet ovanför rubriken */
    margin-bottom: 3rem; /* Justera avståndet */
}

.hero-image-member button {
    border: none;
    outline: none;
    padding: 2rem 4rem; 
    font-size: 1rem;
    cursor: pointer;
    background-color: #13486b;
    color: white;
    border-radius: 0.625rem; 
    transition: background 0.3s ease;
    margin-top: 1rem; /* Lägg till avstånd ovanför knappen */
}

.hero-image-member button:hover {
    background-color: #090a0a;
}

.part1 {
    display: flex;
    justify-content: center;
    gap: 1em; /* 20vh */
}

.part2 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.medal{
    border: 1px solid #ddd;
    padding: 2rem; /* 10vh */
    text-align: center;
}

.img img {
    max-width: 100%; /* Gör bilden responsiv */
    height: 20rem;
}

.text {
    background-color: #f4f4f4;
    border-radius: 0.625rem; /* 8vh */
    padding: 2rem; /* 20vh */
    margin: 2rem 0; /* 20vh 0 */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.text h1, .text h2, .text h3 {
    font-weight: bold;
    margin-bottom: 1.25rem; /* 15vh */
}

.text h1 {
    color: #b29900;
    font-size: 2rem; /* Justera storlek */
}

.text h2 {
    color: #C0C0C0;
    font-size: 1.75rem; /* Justera storlek */
}

.text h3 {
    color: #Cd7f32;
    font-size: 1.5rem; /* Justera storlek */
}

.text p {
    color: #333;
    font-size: 1rem; /* Justera storlek */
    line-height: 1.6;
    margin-bottom: 1rem; /* 15vh */
}

.text p::before {
    content: "✓ ";
    color: #b29900;
    font-weight: bold;
}


.medlem, .membership-sites {

    padding: 2rem; /* 20vh */
    background: white;
    border-radius: 0.625rem; /* 10vh */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.medlem {
    flex: 1;
}

.membership-sites {
    flex: 2;
}



/* Rubrik */
h1 {
    text-align: center;
    color: white;
}

/* Grundläggande stil för formulär */
form {
    display: flex;
    flex-direction: column;
}

/* Fältset-styling */
fieldset {
    border: 1px solid #ddd;
    padding: 1rem; /* 15vh */
    margin-bottom: 1rem; /* 15vh */
}

/* Legend-styling */
legend {
    font-weight: bold;
    color: #444;
}

/* Formulärfälten */
label {
    display: block;
    margin: 0.625rem 0 0.3125rem; /* 10vh 0 5vh */
    font-weight: 600;
}

input, textarea {
    width: calc(100% - 20px);
    padding: 0.625rem; /* 10vh */
    border: 1px solid #ccc;
    border-radius: 0.3125rem; /* 5vh */
    margin-bottom: 1rem; /* 15vh */
    font-size: 1rem; /* Justera storlek */
}

/* Knappar */
button {
    padding: 1rem; /* 15vh */
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px; /* Rundade hörn */
    transition: background-color 0.3s; /* Smidig övergång */
    cursor: pointer;
    font-size: 1rem; /* Justera storlek */
}

button:hover {
    background: #555;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem; /* Justera storlek */
}

.custom-checkbox input {
    display: none;
}

.checkmark {
    width: 1.25rem; /* 20vh */
    height: 1.25rem; /* 20vh */
    border: 2px solid #13486b;
    border-radius: 0.25rem; /* 4vh */
    margin-right: 0.625rem; /* 10vh */
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox input:checked + .checkmark {
    background-color: #13486b;
    border-color: #13486b;
}

.checkmark::after {
    content: "";
    display: none;
    position: absolute;
    left: 0.3125rem; /* 5vh */
    top: 0.125rem; /* 2vh */
    width: 0.625rem; /* 10vh */
    height: 0.625rem; /* 10vh */
    background-color: white;
    border-radius: 0.125rem; /* 2vh */
}

.custom-checkbox input:checked + .checkmark::after {
    display: block;
}

.membership-sites h3 {
    margin-bottom: 1em;
}

.membership-sites h4 {
    margin-bottom: 0.5em;
}

table {
    border-radius: 4px;
    width: 100%;
    background-color: #f0f8f5;
    border: 1px solid rgba(0, 0, 0, 0.24);
}

th {
    text-align: left;
    background-color: #c2dbcd;
    padding: 5px;
}

td {
    text-align: center;
}

table a {
    color: #000;
    text-decoration: none;
    margin: auto 0;
}

table a:hover {
    text-decoration: underline;

}
.poster {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.poster p, .posts p, .thread p, .timestamp p {
    margin: 1em 0;
    font-size: 1em;
}


tr:not(:first-child):hover {
    background-color: #7bb495;
}



@media only screen and (max-width: 980px) {

    body {
        font-size: 12px;
    }

    footer {
        padding-bottom: 1em;
    }

}

@media only screen and (max-width: 768px) {
    .hero-image-member {
        height: 50vh;
    }

    .hero-image-member h1 {
        font-size: 2rem;
    }

    .hero-image-member button {
        padding: 1rem;
    }

    .part1 {
        flex-direction: column;
        gap: 1.5rem;
    }

    .medal {
        padding: 1.5rem;
    }

    .text h1 {
        font-size: 1.75rem;
    }
}

/* Media Queries */
@media only screen and (max-width: 480px) {
    .hero-image h1 {
        font-size: 2.5rem;
        margin-top: 5rem;
    }

    .hero-image button {
        padding: 1rem 2rem;
    }

    main {
        padding: 1rem;
    }

    .part1 {
        flex-direction: column;
        gap: 2rem;
    }

    .medal {
        padding: 1rem;
    }

    .text h1 {
        font-size: 1.75rem;
    }

    .text h2, .text h3 {
        font-size: 1.5rem;
    }
}



