*   {
    /* Återställer marginaler, padding och border till 0. (vissa webbläsare har
    förutbestämda värden som man måste återställa) */
    margin: 0;
    padding: 0;
    border: 0;
    /* Värdet border-box gör så att bredden och höjden på ett element inkluderar 
    padding och border, istället för att lägga dem utanför. Alltså t.ex. om man har 
    ett element/container som har height och width 100 pixlar, och sedan lägger till
    5 pixlar border, så läggs detta inuti elementet istället för att "växa" utåt.
    Därmed behåller elementet sin storlek och det blir enklare att hålla ordning på
    sina objekts storlek.  */
    box-sizing: border-box;
    /* Ställer in automatiskt avstånd mellan kolumner till 10 pixlar. */
    column-gap: 10px;
    /* Ett värde för ordbrytning, man får prova olika för att komma fram till vilken 
    man tycker är bäst */
    word-break: break-word;
}


body {
    /* Ställer in standard-fontstorleken till 14px. Därefter kan man använda sig av
    em istället. Så t.ex. om jag vill h2-rubriker ska vara 1.2 gånger så stor som 
    standardstorleken skriver jag font-size: 1.2em. Även negativa nummer fungerar. 
    Detta handlar om responsivitet, och vi kan gå in mer djupt på det om inte Nevena 
    gör det nu under veckan eller början på nästa */
    font-size: 14px;
    /* Här har jag alltså använt em för att sätta radavståndet till 1.5 x textstorleken */
    line-height: 1.5em;
    color: black;
    /* justerar alla element som finns inuti body så att de är centrerade både 
    horisontellt och lodrätt. */
    justify-content: center;
    align-items: center;
    background-color: #C7F9CC;
    /* Väljer flex-layout och riktningen kollumn, så att alla element inuti body 
    lägger sig i en lodrät linje. Detta gäller dock inte element som är innuti den första
    nivån av element, vilket kommer att bli tydligt längr ner. */
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* */
header {
    color:#111;
    position: sticky;
    top: 0;
    z-index: 100;
    padding:25px 0;
    /* Anger att layoutmönstret inuti containern header ska vara 
    flexbox. */
    display: flex;
    /* Flex direction row innebär att alla objekt i containern header
    radar upp sig i horisontellt */
    flex-direction: row;
    /* Täcker skärmen från sida till sida */
    width: 100%;
    /* När man använder align items: center i flexbox så centreras
    objekten vertikalt */
    align-items: center;
    background-color: white;
    
}

header img {
    height: 20px;

}

.container{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content: space-between;
}


/* Länkarna, dvs knapparna, i navigationscontainern */
nav a {
    color:inherit;
    font-size: 0.9rem;
    /* Tar bort webbläsarens default-stilar för länkar,
    typ understreck och blå färg */
    text-decoration: none;
    /* sätter padding över och under till 18 pixlar, 
    och höger och vänster till 25 pixlar.*/
    padding: 18px 15px;
    position:relative;
}

nav a:hover {
    /* Vid hovring får navigationslänkarna en färg */
    color: #13486b;
    
}
nav a:hover::before {
    width:100%;
}
nav a::before{
    transition:.3s;
    content:"";
    width:0;
    height:2px;
    background:#13486b;
    position:absolute;
    bottom:8px;
    left:50%;
    transform:translateX(-50%);
}

nav a.active {
    /* När en navigationslänk är vald, alltså den länk som motsvarar
    den sida man just nu är på, så blir den blå.*/
    color: #22577A;
}

.hero-image {
    background-image: url("img/vyer/hero.jpg");
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-overlay{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.65);
    position:absolute;
    top:0;
    left:0;
}

.hero-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.hero-content button {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    border: none;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    width: 150px;
    padding: 14px 25px;
    color: #fff;
    background-color: #34775a;
    text-align: center;
    cursor: pointer;
    text-shadow: 1px 1px 3px black;
    transition:.3s;
}

.hero-content button:hover {
    background-color: #34614d;

}

.hero-content p {
    font-size: 1rem;
    margin-bottom: 40px;

}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;

}

h2 {

    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 10px;
    margin:15px 0 10px;
}

article h2 {
    color: #34775a;
    margin-bottom: 5px;
}

h3 {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    text-align: center;
    color: #34775a;

}

h4 {
    font-size: 1.2rem;
    width: 200px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

#wrapper {
    /* Mittenjusterar innehållet i wrappern */
    justify-content: center;
    align-items: center;
    /* Ställer in bredden till 100% av container */
    width: 100%;
    /* Ställer in höjden till 100% av parent container, dvs main */
    height: 100%;
    padding: 5px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    row-gap: 5px;
}


article {
    background-color: #ffffff;
    padding: 5px;
    height: 100%;
    width: 100%;
    border-radius: 2px;
}

article section {
    /* justerar så att objekten i artikelsektioner lägger sig på varandra istället för 
    bredvid */
    display: flex;
    flex-direction: column;
    background-color: #b6e0cea6;
    min-width: 400px;
    width: 400px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: left;
    border: 10px double white;
}




.newsfeed {
    overflow-x: scroll;
}

.memberships, .newsfeed {
    display: flex;
    flex-direction: row;
}

.newsfeed::-webkit-scrollbar {
    height: 12px;
}

.newsfeed::-webkit-scrollbar-thumb {
    background: #22577A;
    border-radius: 6px;

}

.newsfeed::-webkit-scrollbar-track {
    background: #f3f3f3;
    border-radius: 6px;
    box-shadow: inset 0 0 5px #aaaaaa;
    padding: 1px;
}

.newsfeed a {
    text-decoration: none;
    color: #ffffff;
}

/* Stannar, 19:56 */
.newsfeed button {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    border: none;
    margin: 5px;
    border-radius: 5px;
    width: 150px;
    padding: 10px 1px;
    color: #fff;
    background-color: #34775a;
    text-align: center;
    cursor: pointer;
    text-shadow: 1px 1px 3px black;
    transition:.3s;
}


.newsfeed section img {
    max-width: 300px;
    border-radius: 3px;
    margin: 0 auto;
}


footer {
    flex: 4;
    background-color: #22577A;
    width: 100%;
    left: 0;
    bottom: 0;
    position:static;
    justify-content: center;
    color: #fff;
    text-shadow: 1px 1px 3px black;

}


.content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
}

footer p, address {
    margin: 0, 0.3rem;
    
}

footer a {
    text-decoration: none;
    color: #fff;
}



.shortcuts a:hover {
    border-bottom: 1px solid #e6ffe8;
}

.social-media h4 {
    margin-bottom: 8px;
}
.social-media {
    width: 120px;
    height: 120px;

}


    /* Skugga när man hovrar */
.social-media img:hover {
    filter: drop-shadow(0 0 10px #ffffff);
}

.newsform input[type=email] {
    width: 90%;
    margin: 5px 0;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #5e5e5e;
}

.newsform input[type=submit] {
    display: inline-block;
    font-family: 'Poppins', Times, serif;
    background-color: #34775a;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
    margin: 5px 0;
    padding: 10px 25px;
    text-align: center;
    cursor: pointer;
    text-shadow: 1px 1px 3px black;
    transition: .3s;
}

.newsform input[type=submit]:hover {
    background-color: #34614d;
}



@media only screen and (max-width: 1200px) {



    .hero-content h1 {
        line-height: 1em;
        width: 800px;
    }

    article {
        padding: 5px;

    }

    footer {
        column-gap: 10px;
        padding: 15px;
    }

    footer img {
        height: 44px;
    }

    input[type=email] {
        margin: 10px 0 0;
        padding: 10px 10px;
        border-radius: 10px;
        max-width: 200px;
    }

    input[type=submit] {
        font-size: 1.3rem;
    }

}