.hero-image-member {
    background-image: url("https://i.imgur.com/pjZTPf7.jpeg"),
    url("/Golfklubben/Images/Member/member-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh; 
    width: 100%; 
    display: flex;
    flex-direction: column; /* Ändra till column för att stapla elementen */
    justify-content: center; /* Centrera vertikalt */
    align-items: center; /* Centrera horisontellt */
    position: relative;
}

.hero-image-member h1 {
    color:white ;
    font-size: 3rem;
    margin-top: 7rem; /* Justera avståndet ovanför rubriken */
    margin-bottom: 3rem; /* Justera avståndet */
}

.hero-image-member button {
    border: none;
    outline: none;
    padding: 2rem 4rem; 
    font-size: 1rem;
    cursor: pointer;
    background-color: #34775a;
    color: white;
    border-radius: 0.625rem; 
    transition: background 0.3s ease;
    margin-top: 1rem; /* Lägg till avstånd ovanför knappen */
}

.hero-image-member button:hover {
    background-color: #090a0a;
}


.part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em; /* 20vh */
}

.part2 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.medal{
    border: 1px solid #ddd;
    padding: 2rem; /* 10vh */
    text-align: center;
}

.img img {
    max-width: 100%; /* Gör bilden responsiv */
    height: 20rem;
}

.text {
    background-color: #f4f4f4;
    border-radius: 0.625rem; /* 8vh */
    padding: 2rem; /* 20vh */
    margin: 2rem 0; /* 20vh 0 */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.text h1, .text h2, .text h3 {
    font-weight: bold;
    margin-bottom: 1.25rem; /* 15vh */
}

.text h1 {
    color: #b29900;
    font-size: 2rem; /* Justera storlek */
}

.text h2 {
    color: #C0C0C0;
    font-size: 1.75rem; /* Justera storlek */
}

.text h3 {
    color: #Cd7f32;
    font-size: 1.5rem; /* Justera storlek */
}

.text p {
    color: #333;
    font-size: 1rem; /* Justera storlek */
    line-height: 1.6;
    margin-bottom: 1rem; /* 15vh */
}

.text p::before {
    content: "✓ ";
    color: #b29900;
    font-weight: bold;
}


.medlem, .membership-sites {
    padding: 2rem; /* 20vh */
    background: white;
    border-radius: 0.625rem; /* 10vh */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.medlem {
    flex: 1;
}

.membership-sites {
    flex: 2;
}


/* Rubrik */
h1 {
    text-align: center;
    color: white;
}

/* Grundläggande stil för formulär */
form {
    display: flex;
    flex-direction: column;
}

/* Fältset-styling */
fieldset {
    border: 1px solid #ddd;
    padding: 1rem; /* 15vh */
    margin-bottom: 1rem; /* 15vh */
}

/* Legend-styling */
legend {
    font-weight: bold;
    color: #444;
}

/* Formulärfälten */
label {
    display: block;
    margin: 0.625rem 0 0.3125rem; /* 10vh 0 5vh */
    font-weight: 600;
}

#registration-form input, #registration-form textarea {
    width: calc(100% - 20px);
    padding: 0.625rem; /* 10vh */
    border: 1px solid #ccc;
    border-radius: 0.3125rem; /* 5vh */
    margin-bottom: 1rem; /* 15vh */
    font-size: 1rem; /* Justera storlek */
}

/* Knappar */
button {
    padding: 1rem; /* 15vh */
    background: #34775a;
    color: #fff;
    border: none;
    border-radius: 5px; /* Rundade hörn */
    transition: background-color 0.3s; /* Smidig övergång */
    cursor: pointer;
    font-size: 1rem; /* Justera storlek */
}

button:hover {
    background: #555;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem; /* Justera storlek */
}

.custom-checkbox input {
    display: none;
}

.checkmark {
    width: 1.25rem; /* 20vh */
    height: 1.25rem; /* 20vh */
    border: 2px solid #13486b;
    border-radius: 0.25rem; /* 4vh */
    margin-right: 0.625rem; /* 10vh */
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox input:checked + .checkmark {
    background-color: #13486b;
    border-color: #13486b;
}

.checkmark::after {
    content: "";
    display: none;
    position: absolute;
    left: 0.3125rem; /* 5vh */
    top: 0.125rem; /* 2vh */
    width: 0.625rem; /* 10vh */
    height: 0.625rem; /* 10vh */
    background-color: white;
    border-radius: 0.125rem; /* 2vh */
}

.custom-checkbox input:checked + .checkmark::after {
    display: block;
}

.membership-sites p {
    margin-bottom: 1em;
}

.membership-sites h3 {
    margin-bottom: 1em;
}

.membership-sites h4 {
    margin: 0.5em 0;
    width: 100%;
}

#forum {
    border-collapse: collapse;
    width: 100%;
    position: relative;
}


#table-container {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #34775a;
    border-radius: 4px;
    margin-top: 1em;
}

#table-container::-webkit-scrollbar {
    width: 8px;
}

#table-container::-webkit-scrollbar-thumb:hover {
    cursor: grab;
}


#table-container::-webkit-scrollbar-thumb {
    background: #34775a;
    border-radius: 2px;

}

#table-container::-webkit-scrollbar-track {
    background: #f3f3f3;
    box-shadow: inset 0 0 5px #aaaaaa;
    border-radius: 2px;
}

th:first-child,
th:last-child {
    max-width: 150px;
}

tr:first-child {
    position: sticky;
    top: 0;
    background-color: #34775a;
    color: #fff;
    height: 50px;
}

tr:nth-child(even) {
    background-color: #34775a49;
}


td {
    height: 50px;
    padding: 5px;
}

td a {
    text-decoration: none;
    color: #000;
}


td a:hover {
    text-decoration: underline;
}

td:first-child {
    font-size: 0.9em;
    text-align: center;
}



td:nth-child(2) {
    font-weight: 400;
}


td:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9em;

}


@media only screen and (max-width: 980px) {
    


    td:first-child {
        text-align: left;
    }

}


@media only screen and (max-width: 768px) {
    .hero-image-member {
        height: 50vh;
    }

    .hero-image-member h1 {
        font-size: 2rem;
    }

    .hero-image-member button {
        padding: 1rem;
    }

    .part1 {
        flex-direction: column;
        gap: 1.5rem;
    }

    .medal {
        padding: 1.5rem;
    }

    .text h1 {
        font-size: 1.75rem;
    }

    .part2 {
        flex-direction: column;
    }

}

/* Media Queries */
@media only screen and (max-width: 480px) {
    .hero-image-member h1 {
        font-size: 2.5rem;
        margin-top: 5rem;
    }

    .hero-image-member button {
        padding: 1rem 2rem;
    }

    .part1 {
        flex-direction: column;
        gap: 2rem;
    }

    .medal {
        padding: 1rem;
    }

    .text h1 {
        font-size: 1.75rem;
    }

    .text h2, .text h3 {
        font-size: 1.5rem;
    }
}



